.gg-helper-btn-wrap {
  position: fixed;
  bottom: 100px;
  right: 100px;
}

.gg-helper-btn-wrap button.gg-helper-btn {
  font-size: 14px;
  border: none;
  outline: none;
  width: 100px;
  height: 30px;
  background-image: linear-gradient(225deg, #32C5FF 0%, #B620E0 51%, #F7B500 100%);
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 10px 0px rgba(143, 13, 194, 0.3);
  font-weight: 600;
  margin-top: 16px;
}
.gg-helper-btn-wrap button.gg-helper-btn:active {
  filter: brightness(.9)
}