.gg-helper-btn-wrap {
  position: fixed;
  bottom: 100px;
  right: 100px;
}

button#gg-download-btn {
  border: none;
  outline: none;
  width: 80px;
  height: 30px;
  background: url(../images/btn_bg.png) no-repeat;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 6px 0px rgba(143, 13, 194, 0.3);
  font-weight: 600;
}
button#gg-download-btn:active {
  filter: brightness(.9)
}